

body{
    text-align: center;
    font-family: Arial;
    background-color: yellow;
}

#sigma {
    color: firebrick;
}

.base {
    background: linear-gradient( khaki);
    margin: 0px  50px 20px 50px;
    padding: 5px 10px 10px;
    border: 10px solid lime;
}
button{
    background: linear-gradient(Silver, white, Silver);
    border-radius: 5px;
    box-shadow: 3px 3px 3px ;
    }  
    button:hover{
    border-color: aqua;
    }
    button:active{
    background: silver;
    box-shadow: 1px 1px 0.5px ;
    }
.urls{
    margin-top: 50px;
}

